{% extends "bootstrap/base.html" %}
{% block title %}RediSearch Aggregations{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
  <style>
  .ui-autocomplete-loading {
    background: white url("http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  </style>
{% endblock %}

{% block content %}

<center><h3>Sorted by {{ field }}</h3>

<table class="table table-dark" width="50%">
  <tr><th>{{ field }}</th><th>Count</th></tr>
  {% for row in rows %}
   <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td>
  {% endfor %}
</table>
</center>
{% endblock %}
 
