{% extends "bootstrap/base.html" %}
{% block title %}RediSearch Autocomplete{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
{% endblock %}

{% block content %}

<div class="container">
<form action = "/displaytags" method = "POST">
  <div class="form-group">
    <label for="tagsSelect">Select Tags</label>
    <select multiple class="form-control" id="tagsSelect" size={{ tags|length }} name="tgs">
    {% for tg in tags|sort() %}
      <option> {{ tg }} </option>
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
  </div>
  <div class="form-group">
    <br><br>
    <p><input type = "submit" value = "submit" /></p>
  </div>
</form>
  <p>Select some tags from the dropdown to search by tags</p>
</div>
{% endblock %}
 